@font-face {
    font-family: 'START';
    src: url('Press_Start_2P/PressStart2P-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    z-index: 1;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    cursor: url('nave.png') 36 2, auto;
    background: url('https://c.tenor.com/xfsFj7A6lJMAAAAd/galaxy.gif') no-repeat center;
    background-size: cover;

}
body{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: none;
}
.tiro{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 43, 167);
    display: inline-block;
    position: absolute;
}
.asteroid{
    height: 30px;
    width: 30px;
    padding: 15px;
    border-radius: 50%;
    /*background-color: grey;
    border: 3px solid rgb(78, 78, 78);*/
    background:  url('http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/448d69448ddc03b.png') no-repeat;
    background-size: cover;
    position: absolute;
}
.barra-vida{
    width: 400px;
    height: 25px;
    background-color: brown;
    margin: 0 auto;
    text-align: left;
}
#barra-main{
    background-color: greenyellow;
    margin: 0;
    padding: 0;
}
.centralizante{
    width: 100%;
    text-align: center;
}
#game-over{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: url('https://c.tenor.com/BTMPECC4hS4AAAAC/game-over.gif') no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 10;
}
.caixinha{
    width: 100px;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.589);
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
#pontos{
    top: 0;
    left: 0;
    line-height: 100px;
}
#pause{
    top: 0;
    right: 0;
    cursor: pointer;
    line-height: 60px;
    font-size: xx-large;
    width: 60px;
    height: 60px;
    z-index: 100;
}
#pause span{
    font-weight: bolder;
    border: 1px solid black;
}
#nivel{
    display: none;
    width: 900px;
    height: 500px;
    background: rgba(100, 62, 189, 0.589);
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}

/*----------------------------------------------------*/
 .pause-tela{
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.541);
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    text-align: center;
    font-size: 80px;
    line-height: 100vh;
    text-transform: uppercase;
    font-family: 'START', Arial, Helvetica, sans-serif;
    cursor: default;
}

.nivel-tela{
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.541);
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    text-align: center;
    transition: all ease-in-out .5s;
}
.nivel-caixa{
    width: 600px;
    height: 400px;
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    background-color: rgba(240, 240, 240, 0.836);
    text-align: center;
    transition: all ease-in-out .5s;
    padding-top: 20px;
    border-radius: 15px;
}
.nivel-caixa p{
    border: 5px solid green;
    color: green;
    font-size: 60px;
    line-height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 70px);
    box-sizing: border-box;
    font-family: 'START', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nivel-caixa span{
    color: green;
    font-size: 45px;
    font-family: 'START', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
.nivel-caixa{
    animation: bounce;
    animation-duration: 2s;
}
*/